@keyframes slide-in-top{0%{transform:translateY(-50%);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes scale-in-center{0%{transform:scale(0);opacity:0}100%{transform:scale(1);opacity:1}}
@keyframes scale-in-hor-center{0%{transform:scaleX(0);opacity:1}100%{transform:scaleX(1);opacity:1}}
@keyframes shake-horizontal{0%,100%{transform:translateX(0)}10%,30%,50%,70%{transform:translateX(-10px)}20%,40%,60%{transform:translateX(10px)}80%{transform:translateX(8px)}90%{transform:translateX(-8px)}}


.main-section{
    margin: 0 auto;
    max-width:500px;
    margin-top: 100px;
}
.method-form{
    animation:scale-in-hor-center .2s cubic-bezier(.25,.46,.45,.94) both
}