

.nav-bar{
    margin: 0 auto;
    background-color:var(--primary) ;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* animation:puff-in-center .9s cubic-bezier(.47,0.000,.745,.715) both */
  
}
.nav-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list li:hover{
    transform:scale(106%);
    cursor: pointer;
    transition: transform .1s linear
}