.matrix-form{
    width: 500px;
margin: 30px auto;
}
.matrix-input{
    font-size: 1rem;
    max-width: 90px;
    text-align: center;
    height: 30px;
    padding: none;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    background-color:var(--primary);
    margin:0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}